body{

background:linear-gradient(135deg,#FF6B6B,#E74C3C);

min-height:100vh;

}

.card{

border-radius:20px;

box-shadow:0px 8px 20px rgba(0,0,0,.2);

}

img{

border-radius:50%;

border:5px solid white;

}